 {% liquid
    assign rating_decimal = 0
    assign decimal = block.settings.rating | modulo: 1
    if decimal >= 0.3 and decimal <= 0.7
      assign rating_decimal = 0.5
    elsif decimal > 0.7
      assign rating_decimal = 1
    endif
  %}
<div class="custom-product__rating">
  <span class="custom-product__rating-star" style="--rating: {{ block.settings.rating | floor }}; --rating-max: {{ block.settings.scale_max }}; --rating-decimal: {{ rating_decimal }};></span>
</div>