<div class="custom-product__rating">
  {% if block.settings.rating == 5 %}
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
  {% elsif block.settings.rating == 4 %}
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
  {% endif %}
</div>