{% style %}
.custom-product__rating-star {
  color: {{ block.settings.star_color }};
}
{% endstyle %}

<div class="custom-product__rating">
  {% if block.settings.rating == 5 %}
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
  {% elsif block.settings.rating == 4 %}
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
  {% elsif block.settings.rating == 3 %}
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
  {% elsif block.settings.rating == 2 %}
    <span class="custom-product__rating-star">★</span>
    <span class="custom-product__rating-star">★</span>
  {% else %}
    <span class="custom-product__rating-star">★</span>
  {% endif %}
  {% if block.settings.display_number_of_reviews == true %}
    <span class="custom-product__rating-text">{{ block.settings.number_of_reviews }} Review{% if block.settings.number_of_reviews > 1 %}s{% endif %}</span>
  {% endif %}
</div>