.custom-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.custom-product__col {
  flex: 1 1 calc(50% - 40px);
  max-width: calc(50% - 40px);
}

@media screen and (max-width: 992px) {
  .custom-product__col {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.custom-product__col p {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.005em;
}

.custom-product__title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 400;
  margin: 4px 0 10px;
  letter-spacing: -0.01em;
}

.custom-product__description {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.005em;
}

.custom-product__items h3 {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  margin-bottom: 8px;
  letter-spacing: 0;
}

.custom-product__item {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.custom-product__item:last-of-type {
  margin-bottom: 32px;
}

.custom-product__item-icon {
  align-self: flex-start;
  background-color: #F8C063;
  border-radius: 100px;
  width: 21px;
  height: 21px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-product__item-title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: -3px;
}

.custom-product__item-description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  letter-spacing: -0.07em !important;
  margin-bottom: 0 !important;
}

.custom-product__form-bottom {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.custom-product__form-quantity {
  display: flex;
  border: 1px solid rgb(var(--color-foreground));
  max-width: 116px;
}

.custom-product__form-quantity .quantity {
  border: none;
  background: none;
  font-size: 16px;
  line-height: 24px;
  color: rgb(var(--color-foreground));
  font-family: 'Poppins', sans-serif;
  width: 100%;
  text-align: center;
}

.custom-product__form-quantity button {
  border: none;
  background: transparent;
  color: rgb(var(--color-foreground));
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
}

.custom-product__form-quantity button svg {
  stroke: rgb(var(--color-foreground));
}

.custom-product__form-submit {
  flex: 1 1 auto;
}

.custom-product__form-btn {
  background-color: rgb(var(--color-button));
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border: none;
  color: rgb(var(--color-button-text));
  cursor: pointer;
  width: 100%;
  height: 100%;
}