.custom-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.custom-product__col {
  flex: 1 1 calc(50% - 40px);
  max-width: calc(50% - 40px);
}

.custom-product__title {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 400;
  margin: 4px 0 8px;
}

.custom-product__description {
  margin: 0 0 16px;
  font-size: 16px;
  line-height24px;
}